<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/anuncis.css">
    <title>Lista de Anuncios</title>
</head>
<body>
    <h1>Lista de anuncios</h1>

    <!-- Formulario de búsqueda -->
    <form action="/buscar" method="GET" class="search-container">
        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca">
        
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo">
        
        <label for="precio">Precio máximo:</label>
        <input type="number" id="precio" name="precio">
        
        <label for="any">Año:</label>
        <input type="number" id="any" name="any">
        
        <button type="submit">Buscar</button>
    </form>

    <div class="anuncios-container">
        <ul>
            {% for anuncio in anuncios %}
                <li>
                    <div>Tipo: {{ anuncio.tipus }}, Marca: {{ anuncio.marca }}, Modelo: {{ anuncio.model }}, 
                        Precio: {{ anuncio.preu }}€, Año: {{ anuncio.any }}, {{ anuncio.mostrar_informacion() }}</div>
                    
                    <div class="actions">
                        <form action="{{ url_for('add_favorito', cotxe_id=anuncio.id) }}" method="POST">
                            <button type="submit">Añadir a favoritos</button>
                        </form>
                        <a href="{{ url_for('hacer_oferta', cotxe_id=anuncio.id) }}">Hacer oferta</a>
                        <a href="{{ url_for('ver_ofertas', cotxe_id=anuncio.id) }}">Ver ofertas</a>
                        <a href="{{ url_for('comentarios', cotxe_id=anuncio.id) }}">Comentarios</a>
                        <a href="{{ url_for('historial_precios', cotxe_id=anuncio.id) }}">Historial de precios</a>
                    </div>
                </li>
            {% else %}
                <li>No hay anuncios publicados.</li>
            {% endfor %}
        </ul>
    </div>

    <div class="links-container">
        <a href="/favoritos">Ver mis favoritos</a>
        <a href="/publicar">Publicar un nuevo anuncio</a>
        <a href="/">Volver a la página principal</a>
    </div>
</body>
</html>
