<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/anuncis.css">
    <title>Resultados de Búsqueda</title>
</head>
<body>
    <h1>Resultados de la Búsqueda</h1>

    <ul>
        {% for anuncio in anuncios %}
            <li>
                Tipo: {{ anuncio.tipo }}, Marca: {{ anuncio.marca }}, Modelo: {{ anuncio.modelo }}, 
                Precio: {{ anuncio.precio }}€, Año: {{ anuncio.any }}, {{ anuncio.comentario }}
            </li>
        {% else %}
            <li>No se encontraron anuncios con esos criterios.</li>
        {% endfor %}
    </ul>

    <br>
    <a href="/anuncios">Volver a la lista de anuncios</a><br>
    <a href="/">Volver a la página principal</a>
</body>
</html>
